# Plots

Notebook to build plots for final report. No pressure to use this - just using it to make my life easier!

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.figsize"] = (5,3)

atm = pd.read_csv('ATM_sample.csv')
atm.head()

   Shops  ATMs  Downtown  Weekday  Center  High   Withdraw
0   1018    10         1        0       0     0  72.750556
1    974    10         1        1       0     0  66.720482
2     96     2         0        0       0     1  19.189516
3    958     9         1        1       0     1  67.388669
4    103     4         0        1       0     1  15.813127

In [30]:
"""
Atms by shops scatterplot coloured by withdraw
"""

fig_name = 'atms_by_shops_coloured.jpg'

# Create logic for colorbar
# See: https://stackoverflow.com/questions/49761221/make-seaborn-show-a-colorbar-instead-of-a-legend-when-using-hue-in-a-bar-plot/49772083#49772083
cmap = sns.color_palette("flare", as_cmap=True)
norm = plt.Normalize(atm['Withdraw'].min(), atm['Withdraw'].max())
sm = plt.cm.ScalarMappable(cmap=cmap, norm=norm)

# Create plot
fig, axes = plt.subplots(1,1, figsize=(8,6))
sns.scatterplot(ax=axes, x='ATMs', y='Shops', data=atm, hue='Withdraw', palette = cmap)

# Set titles
axes.set_xlabel('Number of ATMs')
axes.set_ylabel('Number of Shops')
axes.set_title('Number of ATMs by number of shops, coloured by Withdraw')

# Remove the legend and add a colorbar
axes.get_legend().remove()
axes.figure.colorbar(sm, ax=axes)

plt.tight_layout()
plt.savefig(f'./plots/{fig_name}')
plt.close(fig)

In [77]:
"""
Withdraw by shops scatterplot
"""

fig_name = 'withdraw_by_shops.jpg'

fig, axes = plt.subplots(1,1, figsize=(6,4.5))
sns.scatterplot(axes=axes, x='Shops', y='Withdraw', data=atm)

# Set titles
axes.set_xlabel('Shops')
axes.set_ylabel('Withdraw')
axes.set_title('Withdraw by number of shops')

plt.tight_layout()
plt.savefig(f'./plots/{fig_name}')
plt.close(fig)

In [76]:
"""
Withdraw by shops scatterplot coloured by Downtown
"""

fig_name = 'withdraw_by_shops_coloured.jpg'

fig, axes = plt.subplots(1,1, figsize=(6,4.5))
sns.scatterplot(axes=axes, x='Shops', y='Withdraw', hue='Downtown', data=atm)

# Set titles
axes.set_xlabel('Shops')
axes.set_ylabel('Withdraw')
axes.set_title('Withdraw by number of shops, coloured by Downtown')

plt.tight_layout()
plt.savefig(f'./plots/{fig_name}')
plt.close(fig)

In [83]:
"""
Withdraw by shops scatterplot including withdraw > 85 cutoff
"""

fig_name = 'withdraw_by_shops_incl_cutoff.jpg'

fig, axes = plt.subplots(1,1, figsize=(6,4.5))
sns.scatterplot(axes=axes, x='Shops', y='Withdraw', data=atm)
axes.axhline(y=86, c='red')

# Set titles
axes.set_xlabel('Shops')
axes.set_ylabel('Withdraw')
axes.set_yticks([20,40,60,80,86,100])
axes.set_title('Withdraw by number of shops')

plt.tight_layout()
plt.savefig(f'./plots/{fig_name}')
plt.close(fig)
# plt.show()

In [88]:
print(len(atm[(atm.Weekday == 0) & (atm.Center == 1) & (atm.Downtown == 1)]))
print(len(atm[(atm.Withdraw > 86)]))

455
452

In [89]:
fig_name = 'weekday_center_high_hists.jpg'

high_withdraw = atm[atm['Withdraw'] > 86].copy()
fig, axes = plt.subplots(1,3, figsize=(6,4.5), sharey=True)
fig.suptitle('Histograms of Weekday, Center and High for group\nwith high Withdraw amounts (Withdraw > 86)')

sns.histplot(ax=axes[0], data=high_withdraw['Weekday'], discrete=True)
axes[0].set_xlabel('Values of Weekday')
axes[0].set_ylabel('Number of rows')
axes[0].set_xticks([0])

sns.histplot(ax=axes[1], data=high_withdraw['Center'], discrete=True)
axes[1].set_xlabel('Values of Center')
axes[1].set_ylabel('Number of rows')
axes[1].set_xticks([1])

sns.histplot(ax=axes[2], data=high_withdraw['High'], discrete=True)
axes[2].set_xlabel('Values of High')
axes[2].set_ylabel('Number of rows')
axes[2].set_xticks([0,1])

plt.tight_layout()
plt.savefig(f'./plots/{fig_name}')
plt.close(fig)

In [103]:
"""
Withdraw by shops scatterplot coloured by Downtown and DWC
"""

fig_name = 'withdraw_by_shops_coloured_2.jpg'

fig, axes = plt.subplots(1,1, figsize=(6,4.5))
atm[''] = np.where((atm['Downtown'] == 0), 'Downtown = 0', np.where((atm['Downtown'] == 1) & (atm['Weekday'] == 0) & (atm['Center'] == 1), 'Downtown = 1\n& Weekday = 0\n& Center = 1', 'Downtown = 1'))
sns.scatterplot(axes=axes, x='Shops', y='Withdraw', hue='', data=atm)

# Set titles
axes.set_xlabel('Shops')
axes.set_ylabel('Withdraw')
axes.set_title('Withdraw by number of shops, coloured by Downtown')

plt.tight_layout()
plt.savefig(f'./plots/{fig_name}')
plt.close(fig)
# plt.show()